<!DOCTYPE html>
<html>
{% load static %}

<head>
    <title>NatLearn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/6c4bbd468f.js" crossorigin="anonymous"></script>
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Raleway", sans-serif
        }

        body,
        html {
            height: 100%;
            line-height: 1.8;
        }

        /* Full height image header */
        .bgimg-1 {
            background-position: center;
            background-size: cover;
            background-image: url("{% static 'app/img1.jpg' %}");
            min-height: 100%;
        }

        .w3-bar .w3-button {
            padding: 16px;
        }


        .person-name {
            font-size: 24px;
            /* Adjust font size as needed */
            font-weight: bold;
        }

        .person-role {
            font-size: 18px;
            /* Adjust font size as needed */
            color: black;
            /* Adjust color as needed */
        }

        .person-description {
            font-size: 17px;
            /* Adjust font size as needed */
        }
    </style>
</head>

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
            <a href="#home" class="w3-bar-item w3-button w3-wide">
                <img src="{% static 'app/logo.png' %}" alt="Logo"
                    style="height: 50px; width: 50px; margin-right: 10px;">
            </a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">
                <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
                <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
                <a href="{% url 'translation' %}" class="w3-bar-item w3-button"><i class="fa fa-th"></i> Video
                    Translation</a>
                <a href="{% url 'chatbot' %}" class="w3-bar-item w3-button"><i class="fa-brands fa-rocketchat"></i>
                    ChatBot</a>
                <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
                onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
        style="display:none" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close
            ×</a>
        <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
        <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
        <a href="{% url 'translation' %}" onclick="w3_close()" class="w3-bar-item w3-button">Video Translation</a>
        <a href="{% url 'chatbot' %}" onclick="w3_close()" class="w3-bar-item w3-button">Chatbot</a>
        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
    </nav>

    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
        <div class="w3-display-left w3-text-white" style="padding:48px">
            <span class="w3-jumbo w3-hide-small">Welcome to NatLearn - Revolutionizing Education Through
                Multilingual Learning</span><br>
            <span class="w3-large">NatLearn enables you to learn in your Native Language</span>
            <div class="buttons">
                <button
                    class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off btn"><a
                        href="{% url 'login' %}">Login</a></button>
                <button
                    class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off btn"><a
                        href="{% url 'register' %}">Sign up</a></button>
            </div>
        </div>
        <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
    </header>

    <!-- About Section -->
    <div class="w3-container" style="padding:128px 16px" id="about">
        <h3 class="w3-center">ABOUT THE COMPANY</h3>
        <p class="w3-center w3-large">Key Functionalities</p>
        <div class="w3-row-padding w3-center" style="margin-top:64px; display: flex; justify-content: center;">
            <div class="w3-quarter">
                <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
                <p class="w3-large">Multilingual Learning</p>
                <p>You can translate any video to your native language</p>
            </div>
            <div class="w3-quarter">
                <i class="fa-brands fa-rocketchat w3-margin-bottom w3-jumbo"></i>
                <p class="w3-large">Context Aware Chatbot</p>
                <p>Learn with a chatbot that knows everything in your uploaded videos!</p>
            </div>
        </div>
    </div>
    </div>

    <!-- Team Section -->
    <div class="w3-container" style="padding:128px 16px; background-color:#3C486B" id="team">
        <h3 class="w3-center">THE TEAM</h3>
        <div class="w3-row-padding w3-grayscale" style="margin-top: 64px; display: flex; justify-content: center;">
            <div class="w3-col l3 m6 w3-margin-bottom" style="margin-right: 220px;">
                <div class="w3-card">
                    <img src="{% static 'app/azam_pic.jpg' %}" alt="Azam" style="width:100%">
                    <div class="w3-container">
                        <h3 class="person-name"> Muhammad Azam Afridi</h3>
                        <p class="w3-opacity person-role">AI Student</p>
                        <p class="person-description">Azam is a final year undergraduate student majoring in AI at GIK
                            Institute. Hailing from
                            the
                            vibrant city of Peshawar, Pakistan. Azam loves working on and developing machine
                            learning
                            models.</p>
                        <p><button class="w3-button w3-light-grey w3-block"
                                onclick="window.location.href='mailto:azafridi9547@gmail.com'"><i
                                    class="fa fa-envelope"></i> Contact</button></p>

                    </div>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-card">
                    <img src="{% static 'app/rajab_pic.jpg' %}" alt="Rajab" style="width:100%">
                    <div class="w3-container">
                        <h3 class="person-name">Rajab Ali</h3>
                        <p class="w3-opacity person-role">CS Student</p>
                        <p class="person-description">Rajab is a final-year undergraduate Computer Science student at
                            GIK Institute. Hailing from
                            the small district of Bhakkar in Pakistan, he has a keen interest in Back-End development
                            and DevOps.</p>
                        <p><button class="w3-button w3-light-grey w3-block"
                                onclick="window.location.href='mailto:u2020408@giki.edu.pk'"><i
                                    class="fa fa-envelope"></i> Contact</button></p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Promo Section "Statistics" -->
    <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
        <div class="w3-quarter" style="width: 25%; height: 200px; border-right: 1px solid #ccc;">
            <span class="w3-xxlarge" style="font-size: 24px;">27 + Languages Supported</span>
        </div>
        <div class="w3-quarter" style="width: 25%; height: 200px; border-right: 1px solid #ccc;">
            <span class="w3-xxlarge" style="font-size: 24px;">Synchronized Audio</span>
        </div>
        <div class="w3-quarter" style="width: 25%; height: 200px; border-right: 1px solid #ccc;">
            <span class="w3-xxlarge" style="font-size: 24px;">Male And Female Voice Capability</span>
        </div>
        <div class="w3-quarter" style="width: 25%; height: 200px;">
            <span class="w3-xxlarge" style="font-size: 24px;">Quick Translation Speed</span>
        </div>
    </div>






    <!-- Contact Section -->
    <div class="w3-container w3-light-grey" style="padding:80px 16px" id="contact">
        <h3 class="w3-center">CONTACT</h3>
        <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
        <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: azafridi9547@gmail.com</p>
        <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: u2020408@giki.edu.pk</p>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64">
        <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    </footer>

    <script>
        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }


        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");

        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
            } else {
                mySidebar.style.display = 'block';
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }
    </script>

</body>

</html>